html,
body,
header,
.carousel{
  height: 60vh;
  margin: 0;
  padding: 0;
  outline: 0;
  min-height: 100%;
  display: grid;
}

@media(max-width: 740px){
html,
body, 
header, 
.carousel{
  height: 100vh;
}
@media (min-width: 800px) and (max-width: 850px){
html, 
body, 
header,
.carousel{
  height: 100vh;
}
}
} 

html,
body, 
.view{
    height: 100%;
}

.carousel{
    height: 50%;
}

.carousel .carousel-inner{
    height: 100%;
}

.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active{
    height: 100%;
}

@media(max-width: 776px){
    .carousel{
        height: 100%;
    }
}

.col .formar{
    width: 500px;
    padding: 30px;
    background: #ccc;
    position: fixed; top: 30%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/* style for regauth, wrapper */
/* #wrapper{
    width: 80%;
    margin-left: 10%;
    float: left;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

@media(min-width: 800px){
#wrapper #leftCol {
    width: 75%;
    margin-bottom: 5%;
    float: left;
}}

@media(max-width: 799px){
#wrapper #leftCol{
    width: 70%;
    margin-right: 5%;
    float: left;
}}

#wrapper #leftCol #bigArticle{
    width: 78%;
    margin-left: 10%;
    background-color: #f6f6f6;
    padding: 1%;
    float: left;
} 

#wrapper #leftCol #bigArticle img, #wrapper #leftCol .article img {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

#wrapper #leftCol #bigArticle h2, #wrapper #leftCol .article h2{
    font-weight: normal;
    font-size: 1em;
    color: #636363;
    font-family: MonsterratRegular;
}

#wrapper #leftCol #bigArticle p, #wrapper #leftCol .article p{
    width: 90%;
    margin-left: 5%;
}

#wrapper #leftCol #bigArticle div, #wrapper #leftCol .article div{
    padding: 5px;
    border-radius: 5px;
    background-color: #636363;
    color: #fff;
    width: 50%;
    text-align: center;
    margin-top: 10px;
}

#wrapper #leftCol #bigArticle div:hover, #wrapper #leftCol .article div:hover{
    background-color: crimson;
}


#wrapper #leftCol .article div{
    width: 50%;
}

#wrapper #leftCol .article a{
    margin-top: auto;
    
}

#wrapper #leftCol .article{
    width: 40%;
    height: 550px; /* чтоб было одинакового размера 
    margin-left: 5%;
    margin-bottom: 2%;
    background-color: #f6f6f6;
    padding: 1%;
    float: left;
    border: 1px solid silver;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}

#wrapper #leftCol .article img{
    width: 100%;
    height: 250px;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid silver;
}

#wrapper #leftCol #aboutus{
    width: 76%;
    margin-left: 10%;
    border: 1px solid silver;
    background-color: #f4f4f4;
    padding: 2%;
}

#wrapper #leftCol input{
    width: 40%;
    margin-left: 30%;
    float: left;
    border-radius: 5px;
    border: 2px solid silver;
    padding: 10px;
    color: crimson;
    margin-bottom: 10px;
}

#wrapper #leftCol input:focus, #wrapper #leftCol textarea:focus{
    border: 2px solid crimson;
}

#wrapper #leftCol input#done:hover{
    border: 2px solid #939393;
    cursor: pointer;
}

#wrapper #leftCol textarea{
    width: 50%;
    height: 150px;
    margin-left: 25%;
    float: left;
    border-radius: 5px;
    border: 2px solid silver;
    padding: 10px;
    color: darkgoldenrod;
    margin-bottom: 10px;
    resize: none;
}

#wrapper #leftCol #messageShow{
    float: left;
    font-size: 1.0em;
    color: darkorange;
    width: 100%;
    text-align: center;
}

#wrapper #leftCol #region{
    width: 43%;
    margin: 1%;
    margin-left: 30%;
    margin-right: 10%;
    float: left;
    background-color: rgb(247, 56, 56);
}

#wrapper #leftCol #done{
    width: 43%;
    margin: 0;
    margin-left: 30%;
    margin-right: 10%;
    float: left;
}

#wrapper #leftCol #done:hover{
    background: rgb(196, 4, 4);
    color: rgb(226, 188, 15);
}
*/

.page-footer{
    background-color: #929FBA;
}

footer{ 
    width: 100%;    
} 

